<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>

		<meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
	</head>
	<body>
		<div id="container">
			<div id="slider-container"></div>
			<div id="dropdown-container"></div>
			<label>
				<p>Choose Vertex GLShader</p>
				<select id="vertex-shader">
					<option id="basic-vertex-shader" value="Shaders/VertexShaders/BasicVertexShader.glsl">2D Vertex GLShader</option>
				</select>
			</label>
			<label>
				<p>Choose Fragment GLShader</p>
				<select id="fragment-shader">
					<option id="basic-fragment-shader" value="Shaders/FragmentShaders/BasicFragmentShader.glsl">
						2D Fragment GLShader
					</option>
				</select>
			</label>
		</div>
	</body>
</html>
