<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>

		<meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
	</head>
	<body>
		<div id="container">
			<div id="sliderContainer"></div>
			<label>
				<p>Choose Vertex GLShader</p>
				<select id="vertexShader">
					<option id="2dVertexShader" value="Shaders/VertexShaders/2dVertexShader.glsl">2D Vertex GLShader</option>
				</select>
			</label>
			<label>
				<p>Choose Fragment GLShader</p>
				<select id="fragmentShader">
					<option id="2dFragmentShader" value="Shaders/FragmentShaders/2dFragmentShader.glsl">
						2D Fragment GLShader
					</option>
				</select>
			</label>
		</div>
	</body>
</html>
